.header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #555555;
      margin: 8px;
      color: antiquewhite;
      border-radius: 6px;
      height: 60px;
      font-size: 24px;
      position: absolute;
      top: 0;
      width: 100%
}

.header_select {
      color: antiquewhite;
      font-size: 20px;
      margin: 24px;
      padding: 4px;
      background-color: #444444;
      height: 60px;
}